.vscode/
.mypy_cache/
.envrc
.env
.env.*
.cache/
tmp/
tmp2/

# Github pages
site/
uv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.sublime-project
*.sublime-workspace
*.log
*.bak
*.tmp
*.swp
.DS_Store
*.egg-info/
dist/
build/
*.egg
*.egg-info/
.eggs/
*.pot
*.mo
.pgpass
